{% load static %}
<section id="features" class="section-padding">
  <div class="container">
    <div class="section-header text-center">
      <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Awesome Features</h2>
      <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
    </div>
    <div class="row">
      <!-- Features item LEFT starts -->
      <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        {% for f in left_side_features %}
        <div class="content-left">
          <div class="box-item wow fadeInLeft" data-wow-delay="0.3s">
            <span class="icon">
              <i class="{{ f.icon }}"></i>
            </span>
            <div class="text">
              <h4>{{ f.title }}</h4>
              <p>{{ f.description }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <!-- Features item LEFT ends -->

      <!-- Features item MIDDLE starts -->
      <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <div class="show-box wow fadeInUp" data-wow-delay="0.3s">
          <img src="{{ mobile_image.image.thumb.url }}" alt="">
        </div>
      </div>
      <!-- Features item MIDDLE ends -->

      <!-- Features item RIGHT starts -->
      <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        {% for f in right_side_features %}
        <div class="content-right">
          <div class="box-item wow fadeInRight" data-wow-delay="0.3s">
            <span class="icon">
              <i class="{{ f.icon }}"></i>
            </span>
            <div class="text">
              <h4>{{ f.title }}</h4>
              <p>{{ f.description }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <!-- Features item RIGHT ends -->
    </div>
  </div>
</section>